.header {
    margin: 0 auto;
    width: 1440px;
    height: 96px;
    padding: 0 167px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 58px;
}

.nav__menu {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav__item {
    text-decoration: none;
    color: #939CAA;
    font-family: 'Space Mono';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

.banner__section {
    margin: 0 auto;
    width: 1440px;
    height: 650px;
    background-image: url(../images/home__banner__bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 153px 165px;
    margin-bottom: 160px;
}

.banner__title {
    max-width: 500px;
    color: #FFF;
    font-family: 'Space Mono';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2.5px;
}

.banner__desc {
    max-width: 350px;
    margin-top: 40px;
    color: #FFF;
    font-family: Lexend Deca;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.banner__btn {
    margin-top: 64px;
}

.section--one__row {
    display: flex;
    justify-content: space-between;
}

.section--one__card {
    width: 350px;
    height: 290px;
}

.section--one__card h4 {
    margin-top: 40px;
    color: #495567;
    font-family: 'Space Mono';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1.071px;
}

.section--one__card p {
    width: 290px;
    color: #939CAA;
    font-family: 'Lexend Deca';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 27px;
}